<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let products of product">
                <td>{{products.id}}</td>
                <td>{{products.title}}</td>
                <td>{{products.description}}</td>
                <td>{{products.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
